body {
  background-image: url("background-header.png");
  background-repeat: no-repeat;
  height: auto;
}

.header {
  padding-top: 33px;
  margin-bottom: 100px;
}

.header_container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.header_right--nav {
  display: flex;
  align-items: center;
  gap: 53px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

.header_right--nav--link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 22px;
  line-height: 1;
  color: black;
  display: inline-block;
  padding-bottom: 10px;
}

.header_right--nav--link:hover::after,
.header_right--nav--link.with-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 106px;
  height: 1px;
  background-color: black;
}

.header_right--nav--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', 'sans-serif';
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 5px solid #f0e7ff;
  background-color: #ffffff;
  color: #543f6b;
  border-radius: 180px;
  height: 54px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.header_right--nav--btn:hover {
  background-color: #f0e7ff;
  font-weight: medium;
  color: #543f6b;
}

.header_right {
  padding-right: 20px;
}

.header_right--nav--btn:first-child {
  width: 189px;
}

.header_right--nav--btn:last-child {
  width: 246px;
}

.header_right--mobile {
  display: none;
}

.header_right--mobile--list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2b7ff;
  transition: 0.5s ease-in-out;
}

.header_right--mobile--list ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header_right--mobile--list li:first-child a::after {
  display: flex;
}

@media screen and (max-width: 1070px) {
  body {
    background-image: url("tablet-header.png");
  }
}

@media screen and (max-width: 1030px) {
  .header_right {
    display: none;
  }

  .header_right--mobile {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  .header {
    margin-bottom: 100px;
  }
  .header_left img {
    width: 120px;
  }
  .header_left img {
    width: 120px;
  }
  .footer_left img {
    width: 100px;
  }
}


.main {
  display: flex;
  align-items: center;
}

.info-section--container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  left: 160px;
  position: relative;
  max-width: 600px;
  bottom: 82px;
  gap: 20px;
}

.item1--paragraph {
  font-size: 24px;
  width: 600px;
  background-color: #efe6ff;
  padding: 50px;
  border-radius: 20px;
  color: #525252;
  font-weight: 400px;
  font-family: 'Montserrat', 'sans-serif';
}

@media screen and (min-width: 1440px) {
  .info-section--container {
    max-width: 900px;
    left: 335px;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1439px) {
  .info-section--container {
    max-width: 600px;
    left: 187px;
  }
  .item1--paragraph {
    font-size: 22px;
    width: 300px;
  }
  .item2--image {
    width: 260px;
    margin-top: 165px;
  }
}

@media screen and (min-width: 830px) and (max-width: 1149px) {
  .info-section--container {
    max-width: 500px;
    left: 138px;
  }
  .item1--paragraph {
    font-size: 16px;
    width: 230px;
  }
  .item2--image {
    width: 260px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 829px) and (min-width: 524px) {
  .info-section--container {
    max-width: 500px;
    left: 10px;
  }
  .item1--paragraph {
    font-size: 19px;
    width: 360px;
  }
  .item2--image {
    width: 270px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) and (min-width: 523px) {
  .info-section--container {
    max-width: 450px;
    left: 10px;
  }
  .item1--paragraph {
    font-size: 14px;
    width: 220px;
  }
  .item2--image {
    width: 220px;
    margin-top: 62px;
  }
}

@media screen and (min-width: 522px) and (max-width: 766px) {
  .info-section--container {
    max-width: 450px;
    left: 60px;
  }
  .item1--paragraph {
    font-size: 14px;
    width: 220px;
  }
  .item2--image {
    width: 260px;
    margin-top: 62px;
  }
}

@media screen and (min-width: 521px) and (max-width: 765px) {
  .info-section--container {
    max-width: 450px;
    left: 30px;
  }
  .item1--paragraph {
    font-size: 12px;
    width: 180px;
  }
  .item2--image {
    width: 230px;
    margin-top: 72px;
  }
}

@media screen and (min-width: 461px) and (max-width: 764px) {
  .info-section--container {
    max-width: 450px;
    left: 20px;
  }
  .item1--paragraph {
    font-size: 12px;
    width: 150px;
  }
  .item2--image {
    width: 250px;
    margin-top: 82px;
  }
}

@media screen and (min-width: 460px) and (max-width: 500px) {
  .info-section--container {
    max-width: 250px;
    left: 60px;
  }
  .item1--paragraph {
    font-size: 10px;
    width: 180px;
  }
  .item2--image {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .info-section--container {
    max-width: 250px;
    left: 20px;
  }
  .item1--paragraph {
    font-size: 10px;
    width: 180px;
  }
  .item2--image {
    display: none;
  }
}


.footer_container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer_right {
  display: flex;
  gap: 16px;
}

.footer_right--part {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer_right--part--title {
  font-family: 'Poppins ' sans-serif'';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 9px;
}

.footer_right--part--links--item {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.footer_right--part:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}

@media screen and (max-width: 1286px) {
  .footer_container {
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 834px) {
  .footer_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 568px) {
  .footer_right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .footer_right--part--title .footer_right--part--links--item {
    font-size: 12px;
  }
}
