* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo-login--form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 336px;
    padding-top: 33px;
    margin-bottom: 25px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1159px;
    padding-bottom: 60px;
    position: relative;
    background-color: #faf7ff;
    left: 336px;
}

.container-heading--form {
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 28px;
    padding-top: 56px;
    margin-bottom: 108px;
    font-weight: normal;
    color: #222222;
}
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.login-form--inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 53px;
}
.login-label--form {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 22px;
    margin-bottom: 32px;
}
.login-input--form {
    width: 481px;
    height: 52px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    padding-left: 23px;
    transition: border-color 0.3s ease;
    margin-bottom: 80px;
    background-color: #FFFFFF;
}
.login-input--form:focus {
    border: 3px solid #eddfff;
    outline: none;
}
.login-input--form:hover {
    border: 3px solid #eddfff;
    outline: none;
}
.login-form--btn {
    padding-left: 374px;
}
.login-btn--form {
    background-color: #f3e7ff;
    width: 323px;
    border: none;
    color: #3D3D3D;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 22px;
    border-radius: 90px;
    padding-top: 23px;
    margin-bottom: 21px;
    padding-bottom: 23px;
    padding-left: 28px;
}
.container-paragraph {  
    text-decoration: none;
}  

.container-paragraph:hover {  
    text-decoration: underline;
}  
.login-btn--form::after {
   border: 2px solid #F8F4FF;
}
.container-paragraph {
    text-decoration: underline;
    font-family: 'Montserrat', 'sans-serif';
    padding-left: 382px;
    margin-bottom: 52px;
    color: #000000;
    font-size: 16px;
}
.container-link--paragraph {
    text-decoration: none;
    color: #000000;
}
.container-link--paragraph:hover::after {
    color: #363636;
}

