* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: URL("Секція No.1.png");
    background-repeat: no-repeat;
}

.header {
    padding-top: 33px;
    margin-bottom: 108px;
}

.header_container {
    width: 100%;
    max-width: 1326px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.header_right--nav {
    display: flex;
    align-items: center;
    gap: 53px;
}

.header_right--nav--link {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
}

header li:first-child .header_right--nav--link::after {
    content: "";
    position: absolute;
    width: 84px;
    display: block;
    height: 1px;
    background-color: black;
    margin-top: 10px;
}

.header_right--nav--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 5px solid #f0e7ff;
    background-color: #ffffff;
    color: #543f6b;
    border-radius: 180px;
    height: 54px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.header_right--nav--btn:hover {
    background-color: #f0e7ff;
    font-weight: medium;
    color: #543f6b;
}

.header_right--nav--btn:first-child {
    width: 189px;
}

.header_right--nav--btn:last-child {
    width: 246px;
}

.header_right--mobile {
    display: none;
}

.header-list {
    display: none;
}

.header-list.active {
    display: block;
}

.header_right--mobile--list {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2b7ff;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
}

.header_right--mobile--list ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header_right--mobile--list li:first-child a::after {
    display: none;
}

@media screen and (max-width: 1030px) {
    body {
        background-image: URL("tablet-header.png");
    }

    .header_right {
        display: none;
    }

    .header_right--mobile {
        display: block;
    }
}

@media screen and (max-width: 740px) {
    body {
        background-image: URL("phone-header.png");
    }

    .header-logo {
        width: 150px;
    }
}

@media screen and (max-width: 1070px) {
    .main_second--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main_first--btn {
        width: 100%;
        max-width: 450px;
    }

    .main_third--text {
       

