* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background-header.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.header {
  padding-top: 33px;
  margin-bottom: 100px;
}

.header_container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.header_right--nav {
  display: flex;
  align-items: center;
  gap: 53px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header_right--nav--link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 22px;
  line-height: 1;
  color: black;
  display: inline-block;
  padding-bottom: 10px;
}


.header_right--nav--link:hover::after,
.header_right--nav--link.with-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 106px;
  height: 1px;
  background-color: black;
}

.header_right--nav--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', 'sans-serif';
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 5px solid #f0e7ff;
  background-color: #ffffff;
  color: #543f6b;
  border-radius: 180px;
  height: 54px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.header_right--nav--btn:hover {
  background-color: #f0e7ff;
  font-weight: medium;
  color: #543f6b;
}
.header_right {
  padding-right: 20px;
}

.header_right--nav--btn:first-child {
  width: 189px;
}

.header_right--nav--btn:last-child {
  width: 246px;
}

.header_right--mobile {
  display: none;
}

.header_right--mobile--list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2b7ff;
  transition: 0.5s ease-in-out;
}

.header_right--mobile--list ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header_right--mobile--list li:first-child a::after {
  display: flex;
}


@media screen and (max-width: 1090px) and (min-width: 1080px) {
  .header_right--nav {
    gap: 34px;
  }
}

@media screen and (max-width: 1070px) and (min-width: 900px) {
  body {
    background-image: url("background-header.png");
    background-size: auto;
  }
  .header_right--nav--link .header_right--nav--btn {
    font-size: 19px;
  }

}

@media screen and (max-width: 1040px) and (min-width: 750px) {
  body {
    background-image: url("tablet-header.png");
    background-size: contain;
  }
  .header_right {
    display: none;
  }
  .header_right--mobile {
    width: 50px;
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 749px) and (min-width: 655px) {
  body {
    background-image: url("tablet-header.png");
    background-size: contain;
  }
  .header {
    margin-bottom: 100px;
  }
  .header_right {
    display: none;
  }
  .header_right--mobile {
    width: 50px;
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-image: url(phone-header.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header_right {
    display: none;
  }
  .header_right--mobile {
    width: 50px;
    display: block;
    cursor: pointer;
  }
}

.main_container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 20px;
}

.main_first .main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_first--title {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: #4e4e4e;
  max-width: 462px;
  margin-bottom: 92px;
}

.main_first--btn {
  width: 450px;
  height: 108px;
  border-radius: 90px;
  background-color: #f0e7ff;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: #543f6b;
  transition: 0.3s ease-in-out;
}

.main_first--btn-link {
  text-decoration: none;
  color: #543f6b;
}

.main_first--btn-link::after:hover {
  text-decoration: none;
  color: #543f6b;
}

.main_first--btn:hover {
  background-color: white;
  color: #543f6b;
  border: 5px solid #f0e7ff;
}

.main_second {
  padding-top: 250px;
  padding-bottom: 205px;
}

.main_second .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_second--title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: black;
  margin-bottom: 139px;
}

.main_second--cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 92px;
}

.main_second--cards--el {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-second--cards-images {
  width: 80px;
}

.main_second--cards--el--text {
  margin-top: 32px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #2e2e2e;
  letter-spacing: 0.25%;
  max-width: 162px;
}

.main_third {
  margin-bottom: 335px;
}

.main_third .main_container {
  display: flex;
  justify-content: center;
}

.main_third--content {
  display: flex;
  flex-direction: column;
  background-color: #f0e7ff;
  padding: 160px;
  gap: 100px;
}

.main_third--text {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: #6d6082;
}

.main_third--text {
  animation: hu__hu__ infinite 2s ease-in-out
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(30px)
  }
}

.main_fourth .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 435px;
}

.main_fourth--title {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: black;
  margin-bottom: 110px;
}

.main_fourth--content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 47px 30px 37px 66px;
}

.main_fourth--content--title {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: black;
  margin-bottom: 16px;
}

.main_fourth--content--bottom {
  display: flex;
  margin-top: 52px;
  align-items: end;
}

.main_fourth--content-text {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.25%;
  color: black;
  max-width: 337px;
}

.main_fourth--controllers {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #faf7ff;
  padding: 60px;
  border-radius: 180px;
  width: 100%;
  max-width: 900px;
}

.main_fourth--first--flower {
  position: absolute;
  left: 0;
}

.main_fourth--second--flower {
  position: absolute;
  right: 0;
}

.main_fourth--first--flower img {
  max-width: 150px;
}
.main_fourth--second--flower img {
  max-width: 150px;
}

@media screen and (min-width: 1440px) {
  .main_second--cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
   .main_first--left--img {
    width: 452px;
  }
  .main_first--title {
    font-size: 34px;
  }
  .main_first--btn {
    width: 450px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main_first {
    padding-top: 50px;
  }
  .main_first--left--img {
    width: 300px;
  }
  .main_first--title {
    font-size: 30px;
    margin-bottom: 50px;
  }  
  .main_first--btn {
    width: 350px;
    font-size: 26px;
  }
  .main_second--title {
    font-size: 32px;
  }
  .main-second--cards-images {
    width: 63px;
  }
  .main_third--content {
    padding: 120px;
  }
  .main_third--text {
    font-size: 26px;
  }
  .main_fourth--title {
    font-size: 32px;
  }
   .main_fourth--content--title {
    font-size: 20px;
   }
   .main_fourth--content-text {
    font-size: 14px;
    line-height: 1.5;
   }
   .main_fourth--icon img {
    max-width: 65px;
   }
   .main_fourth--content {
    padding: 27px 10px 27px 36px;
  }
  .main_fourth--controllers {
    max-width: 530px;
    padding: 20px;
  }
  .main_fourth--first--flower img {
    max-width: 84px;
  }
  .main_fourth--second--flower img {
    max-width: 84px;
  }
}

  @media screen and (max-width: 767px) and (min-width: 594px) {
  .main_first {
    padding-top: 30px;
  }
    .main_first--left--img {
      width: 300px;
    }
    .main_first--title {
      font-size: 20px;
      margin-bottom: 50px;
      max-width: 250px;
    }
    .main_first--btn {
      width: 250px;
      font-size: 20px;
    }
    .main_second--title {
      font-size: 28px;
    }
    .main-second--cards-images {
      width: 52px;
    }
    .main_second--cards--el--text {
      font-size: 20px;
    }
    .main_third--content {
      padding: 120px;
    }
    .main_third--text {
      font-size: 24px;
    }
    .main_fourth--title {
      font-size: 28px;
    }
    .main_fourth--content--title {
      font-size: 20px;
     }
     .main_fourth--content-text {
      font-size: 14px;
      max-width: 250px;
      line-height: 1.25;
     }
     .main_fourth--icon img {
      max-width: 65px;
     }
     .main_fourth--content {
      padding: 27px 10px 27px 36px;
    }
    .main_fourth--controllers {
      max-width: 530px;
      padding: 20px;
    }
    .main_fourth--first--flower img {
      max-width: 75px;
    }
    .main_fourth--second--flower img {
      max-width: 75px;
  }
}

@media screen and (max-width: 595px) and (min-width: 494px) {
   .main_first {
    padding-top: 30px;
  }
    .main_first--left--img {
      width: 200px;
    }
    .main_first--title {
      font-size: 20px;
      margin-bottom: 50px;
      max-width: 300px;
    }
    .main_first--btn {
      width: 230px;
      height: 100px;
      font-size: 20px;
    }
    .main_second--title {
      font-size: 24px;
    }
    .main_second--cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .main-second--cards-images {
      width: 52px;
    }
    .main_second--cards--el--text {
      font-size: 16px;
      max-width: 150px;
    }
    .main_fourth--content--title {
      font-size: 18px;
     }
     .main_fourth--content-text {
      font-size: 14px;
      max-width: 250px;
      line-height: 1.25;
     }
     .main_fourth--icon img {
      max-width: 55px;
     }
     .main_fourth--title {
      font-size: 24px;
    }
     .main_fourth--content {
      padding: 27px 10px 27px 36px;
    }
    .main_fourth--controllers {
      max-width: 360px;
      padding: 15px;
    }
    .main_fourth--first--flower img {
      max-width: 35px;
    }
    .main_fourth--second--flower img {
      max-width: 35px;
  }
}

@media screen and (max-width: 495px) {
      .main_first {
        padding-bottom: 20px;
      }
      .main_first--left--img {
        width: 150px;
      }
      .main_first--title {
        font-size: 18px;
        margin-bottom: 50px;
        max-width: 300px;
      }
      .main_first--btn {
        width: 230px;
        height: 70px;
        font-size: 18px;
      }
      .main_second {
        padding-top: 120px;
      }
      .main_second--title {
        font-size: 22px;
      }
      .main_second--cards {
        grid-template-columns: repeat(2, 1fr);
      }
      .main-second--cards-images {
        width: 42px;
      }
      .main_second--cards--el--text {
        font-size: 19px;
      }
      .main_fourth--title {
        font-size: 24px;
      }
      .main_fourth--content--title {
        font-size: 18px;
       }
       .main_fourth--content-text {
        font-size: 14px;
        max-width: 250px;
        line-height: 1.25;
       }
       .main_fourth--icon img {
        max-width: 55px;
       }
       .main_fourth--content {
        padding: 27px 10px 27px 36px;
      }
      .main_fourth--controllers {
        max-width: 360px;
        padding: 15px;
      }
      .main_fourth--first--flower img {
        display: none;
      }
      .main_fourth--second--flower img {
       display: none;
    }
}

@media screen and (max-width: 407px) {
       body {
        background-image: url("phone-header.png");
      }
      .main_first--left--img {
        width: 150px;
      }
      .main_first--title {
        font-size: 16px;
        margin-bottom: 50px;
        max-width: 150px;
      }
      .main_first--btn {
        width: 130px;
        height: 50px;
        font-size: 16px;
      }
      .main_second--title {
        font-size: 22px;
      }
      .main_second--cards {
        grid-template-columns: repeat(2, 1fr);
      }
      .main-second--cards-images {
        width: 32px;
      }
      .main_second--cards--el--text {
        font-size: 14px;
        max-width: 100px;
      }
      .main_third--text {
        font-size: 19px;
      }
      .main_fourth--title {
        font-size: 22px;
      }
      .main_fourth--content--title {
        font-size: 16px;
       }
       .main_fourth--content-text {
        font-size: 12px;
        max-width: 200px;
        line-height: 1.25;
       }
       .main_fourth--icon img {
        max-width: 55px;
       }
       .main_fourth--content {
        padding: 17px 10px 17px 26px;
      }
      .main_fourth--controllers {
        max-width: 260px;
        padding: 15px;
      }
      .main_fourth--first--flower img {
        display: none;
      }
      .main_fourth--second--flower img {
       display: none;
    }
}



.footer {
  padding-top: 130px;
  padding-bottom: 70px;
}

.footer_container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer_right {
  display: flex;
  gap: 16px;
}

.footer_right--part {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer_right--part--title {
  font-family: 'Poppins ' sans-serif'';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 9px;
}

.footer_right--part--links--item {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.footer_right--part:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}

@media screen and (max-width: 1286px) {
  .footer_container {
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 834px) {
  .footer_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 568px) {
  .footer_right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .footer_right--part--title .footer_right--part--links--item {
    font-size: 19px;
  }
}
